.container{
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin: 20px;
}

.grid div {
    width:40px;
    height: 40px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:lightblue;
    margin:20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    background-color:lightgreen;
    margin:20px;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: lightsalmon;
    margin: 10px;
    display: flex;
}

.ship div {
    width: 40px;
    height: 40px;
}